// input
.input,
input:not([type='checkbox']),
input:not([type='radio']),
input[type='text'].input,
textarea.input,
input[type='text'],
input[type='number'],
input[type='color'],
textarea {
  @include input;
}

input[type='number'] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    appearance: none;
    margin: 0;
  }
}

input[type="color"] {
  @include color-picker;
}

textarea {
  min-height: 3.85em;
  resize: vertical;
}

select,
.select {
  @include input;
}

.form {
  &-group {
    position: relative;
    display: block;

    & .error {
      &-message {
        display: block;
        width: fit-content;
        margin: 4px 0;
        padding: 2px 4px;
        background-color: var(--red);
        border-radius: 4px;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;

    &>* {
      flex: 1;
      width: 100%;
    }

    &>span {
      flex: 0;
    }
  }

  &-creating {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &--inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &>* {
        width: 100%;
        flex: 1;
      }
    }

    &--row {
      flex-direction: row;
      align-items: stretch;
    }

    &--agree {
      & label {
        color: rgba(255, 255, 255, 0.6);

        & a {
          opacity: 0.6;
        }
      }
    }
  }
}