@mixin button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.65rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  border-radius: 0.35rem;
  box-shadow: none;
  border: 0.0625rem solid var(--light);
  background-color: var(--light);
  transition: 0.25s ease-in-out;

  @media (max-width: 991.98px) {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  &:hover,
  &.hover {
    background-color: var(--purple);
    border-color: transparent;
    color: var(--white);
  }

  &:focus:active,
  &.focus,
  &.active {
    background-color: var(--dark);
    border-color: transparent;
  }

  &.disabled,
  &:disabled {
    background-color: var(--light-grey);
    color: var(--text-muted);
    border-color: var(--light-grey);
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.hidden {
    display: none;
  }

  & > i {
    transition: 0.25s ease-in-out;
  }
}

@mixin checkbox {
  position: absolute;
  z-index: -1;
  width: 10px;
  height: 10px;
  opacity: 0;
  appearance: none;
  // display: none;

  &:disabled {
    & ~ label {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  & ~ label {
    &::before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      line-height: 1.4;
      font-size: 12px;
      border: 1px solid var(--light);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      @media (max-width: 991.98px) {
        font-size: 8px;
      }
    }
  }

  &:checked {
    & ~ label {
      &::before {
        content: '';
        background-color: var(--purple);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff !important;
        border-color: var(--purple);
      }
    }
  }
}

@mixin radio {
  position: absolute;
  z-index: -1;
  width: 10px;
  height: 10px;
  opacity: 0;
  appearance: none;
  // display: none;

  &:disabled {
    & ~ label {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  & ~ label {
    background: transparent;

    &::before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      speak: none;
      padding: 0px 0px 4px 0px;
      font-size: 22px;
      line-height: 1;
      text-align: center;
      text-size-adjust: -10px;
      border: 1px solid var(--light);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform-origin: center;

      @media (max-width: 991.98px) {
        font-size: 22px;
      }
    }
  }

  &:checked {
    & ~ label {
      &::before {
        content: '';
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%234029b9'/%3e%3c/svg%3e");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: var(--purple);
        border-color: var(--purple);
      }
    }
  }
}

@mixin input {
  display: inline;
  padding: 12px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--grey);
  border-radius: 0.35rem;
  border: 1px solid var(--grey);
  background-color: #ffffff;
  outline: none;
  transition: 0.25s ease-in-out;

  @media (max-width: 719.98px) {
    font-size: 12px;
    padding: 10px 18px;
  }

  &::placeholder {
    color: var(--grey);
    transition: 0.25s ease-in-out;
  }

  &:focus {
    color: var(--dark);
    border-color: var(--dark);

    &::placeholder {
      color: transparent;
      transition: 0.25s ease-in-out;
    }
  }

  &:not(:placeholder-shown) {
    color: var(--dark);
    border-color: var(--dark);
  }

  &:user-invalid {
    border-color: var(--error);
  }

  &:user-valid {
    border-color: initial;
  }

  &.error {
    color: var(--error);
    border-color: var(--error);
  }
}